body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    text-align: center;

    background-color: #000;
    background-image:url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: #c70039;

}

  ol, ul {
    padding-left: 30px;
  }
  h1{
      font-size: 65px;
      font-weight: bold;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
  }
  .output{
      font-size: 30px;
      margin-top: 50px;
  }

  .square {
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    background-color: #000;
    color: #c70039;
    border: 4px solid #900c3f;
    float: left;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
.square:active{
  background-color: grey;
}
  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
      margin-left: 500px;
    display: flex;
    flex-direction: row;
  }


  .game-info {
    margin-left: 20px;
  }

  .welcomeclass{
      color: #c70039;
      font-weight: bold;
    font-size: 50px;
    line-height: 50px;
  }
  input{
      background-color: #000;
      color: #c70039;
      background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
  }
